eln*
url
.cache
custom.new*
last-theme
places
history
*#
*.eld
.dap-breakpoints
eclipse.jdt*
.mc*
omnisharp
elpa
auto-save-list
*~
eshell
ido*
package-quickstart*
projects
recentf
smex*
transient
straight
session*
.lsp*
*.rej
tramp
.cache*
var
eln-cache
emacs
org-persist
server
FiraCode
*.ttf
temp/